html, body {
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
}

#myID1 {
    display: block;
    width: 100%;
    text-align: center;
}

#myID2 {
    display: block;
    float: left;
    width: 49%;
    height: 200px;
    background-color: red;
}

#myID3 {
    display: block;
    float: left;
    width: 50%;
    height: 200px;
    background-color: blue;
}

li {
    color: lime;
}
